.header_wrapper nav {
    display: block;
    height: 7rem;
    width: 100%;
    background-color: #f1592a;
    /* border: 2px solid darkblue; */
}


.header_wrapper .head .navbar-toggler {
    color: white;
}



.header_wrapper .head .btn {
    display: none;
}

.header_wrapper nav .head {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-left: 18px;
    /* border: 2px solid yellow; */
}



.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* .header-scrolled .nav-item .nav-link.after,
.header-scrolled .nav-item .nav-link:hover {
    color: black;
} */


.header_wrapper .container .main-logo {
    display: flex;
    max-height: 90px;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    /* border: 2px solid rgb(22, 2, 2); */
}

.header_wrapper nav #navbarNav {
    /* border: 2px solid purple; */
    height: 6rem;
}

.header_wrapper .nav-item {
    margin: 2rem 1rem;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 17px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}


.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    background: black;
    transition: 0.3s;
    bottom: 0;
}

.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link.active {
    color: black;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    color: black;
    width: 100%;
}


.header_wrapper .nav-contact {
    /* border: 2px solid gold; */
    width: auto;
    height: auto;
}

.nav-contact .nav-number {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 25px;
    margin-right: 49px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 17px;
}

.nav-contact .nav-number:hover {
    background-color: white;
    color: #f1592a;
    transition: 0.5s;
    cursor: pointer;
}

.nav-contact .nav-number i {
    margin-right: 5px;
}


/* For mobile view  */

@media (max-width:767px) {

    /* 1. nvbar  */

    .header_wrapper nav {
        height: 6rem;
        display: flex;
        /* padding-left: 110px; */
    }


    .header-scrolled {
        height: auto;

    }

    .header_wrapper nav .head {
        margin-left: 0;
        width: 100%;
        /* justify-content: normal; */
    }

    .header_wrapper .head .btn {
        width: auto;
        height: auto;
        align-items: center;
        align-content: center;
        display: flex;
    }

    .header_wrapper .navbar-toggler {
        height: 30px;
        width: 40px;
        border: 0px;
    }



    .header_wrapper .menu-navbar-nav {
        width: 100%;
        text-align: center;
        background-color: #f1592a;
        padding-bottom: 0px;
    }

    .header_wrapper nav #navbarNav {
        height: auto;
    }

    .header_wrapper .nav-item .nav-link {
        font-size: 15px;
    }

    .header_wrapper .nav-item .nav-link.active::after,
    .header_wrapper .nav-item .nav-link:hover::after {
        color: black;
        width: 0;
    }


    .header_wrapper .nav-item {
        margin: 0.5rem 0rem;
    }

    .header_wrapper .container .main-logo {
        max-height: 75px;
        width: auto;
    }

    .header_wrapper .nav-contact {
        display: none;
    }

    .nav-contact .nav-number {
        display: none;
    }

}

/* For tablet view  */

@media (max-width:991px) {

    .header_wrapper .head .btn {
        width: auto;
        height: auto;
        align-items: center;
        align-content: center;
        display: flex;
    }

    .nav-contact .nav-number {
        display: none;
    }

    .header_wrapper .navbar-toggler {
        height: 30px;
        width: 40px;
        border: 0px;
    }

    .header_wrapper nav .head {
        display: flex;
        width: 100%;
        justify-content: normal;
        margin-left: 0;
        /* border: 2px solid yellow; */
    }

    .header_wrapper .menu-navbar-nav {
        width: 100%;
        text-align: center;
        background-color: #f1592a;
        padding-bottom: 0px;
    }

    .header_wrapper nav #navbarNav {
        height: auto;
    }

    .header_wrapper .nav-item .nav-link {
        font-size: 15px;
    }

    .header_wrapper .nav-item .nav-link.active::after,
    .header_wrapper .nav-item .nav-link:hover::after {
        color: black;
        width: 0;
    }


    .header_wrapper .nav-item {
        margin: 0.5rem 0rem;
    }

    .header_wrapper .container .main-logo {
        max-height: 85px;
        width: auto;
        margin-left: 65px;
    }

    .header_wrapper .nav-contact {
        display: none;
    }

    .nav-contact .nav-number {
        display: none;
    }
}